@page
@using Employees.Pages
@model IndexModel
@{
    ViewData["Title"] = "Employees";
}

<div class="text-center">
    <h1 class="display-4">Employees</h1>

    @await Html.PartialAsync("_EmployeeTable", Model)

    <form method="post" asp-page-handler="Add" class="ajaxForm">
        <button type="submit" class="addButton">Add</button>
    </form>
</div>